{{define "layouts/employee/start"}}{{template "layouts/base/start" .}}<main class="app-main container py-4 py-lg-5 workspace workspace-employee">{{end}}
{{define "layouts/employee/end"}}</main>{{template "layouts/base/end" .}}{{end}}
