MYSQL_USER=user
MYSQL_PASSWORD=passw0rd
MYSQL_DB=ecommerce
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

MYSQL_DSN=user:pass@tcp(127.0.0.1:3306)/ecommerce?charset=utf8mb4&parseTime=True&loc=Local


GIN_MODE=release
