APP_ENV=development
APP_PORT=8080
GIN_MODE=debug

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_DATABASE=ecommerce
MYSQL_USER=ecommerce_app
MYSQL_PASSWORD=change_me_local

SESSION_SECRET=replace-with-a-random-secret
SESSION_SECURE=false

MYSQL_DSN=ecommerce_app:change_me_local@tcp(127.0.0.1:3307)/ecommerce?charset=utf8mb4&parseTime=True&loc=Local
