{{define "admin/users/edit"}}{{template "layouts/admin/start" .}}{{template "partials/breadcrumbs" (dict "HomeURL" "/admin/dashboard" "HomeLabel" "Dashboard" "ParentURL" "/admin/users" "ParentLabel" "Users" "Current" "Edit")}}{{template "partials/page-header" (dict "Title" "Edit User" "Description" .User.Email)}}<section class="form-card">{{template "admin/users/form" (dict "Action" (printf "/admin/users/%d" .User.ID) "User" .User "CSRF" .CSRFField "Editing" true)}}</section>{{template "layouts/admin/end" .}}{{end}}
