{{define "partials/flash-messages"}}{{if .Success}}<div class="alert alert-success" role="status">{{.Success}}</div>{{end}}{{if .Error}}<div class="alert alert-danger" role="alert">{{.Error}}</div>{{end}}{{end}}
