{{define "account/addresses/create"}}{{template "layouts/account/start" .}}{{template "partials/breadcrumbs" (dict "HomeURL" "/account" "HomeLabel" "Account" "ParentURL" "/account/addresses" "ParentLabel" "Addresses" "Current" "Add")}}{{template "partials/page-header" (dict "Title" "Add Address" "Description" "Add a shipping or billing address.")}}<section class="form-card">{{template "account/addresses/form" (dict "Action" "/account/addresses" "Address" .Address "CSRF" .CSRFField "Editing" false)}}</section>{{template "layouts/account/end" .}}{{end}}
