{{define "account/addresses/edit"}}{{template "layouts/account/start" .}}{{template "partials/breadcrumbs" (dict "HomeURL" "/account" "HomeLabel" "Account" "ParentURL" "/account/addresses" "ParentLabel" "Addresses" "Current" "Edit")}}{{template "partials/page-header" (dict "Title" "Edit Address" "Description" "Update this saved address.")}}<section class="form-card">{{template "account/addresses/form" (dict "Action" (printf "/account/addresses/%d" .Address.ID) "Address" .Address "CSRF" .CSRFField "Editing" true)}}</section>{{template "layouts/account/end" .}}{{end}}
