{{template "layout" .}}

{{define "title"}}Ürünler{{end}}

{{define "content"}}
<h2>Ürünler</h2>
<ul>
  {{range .Products}}
    <li><a href="/products/{{.ID}}">{{.Name}}</a> - {{.Price}}</li>
  {{else}}
    <li>Ürün yok</li>
  {{end}}
</ul>
{{end}}
